extends ../layout
block content
  body 
    #container.row.col-md-offset-4.col-md-4
      h1.projectName TO-DO-LIST
      form#toDoForm(action="/tasks/", method="POST")
        input.input-sm(name='title', placeholder='add a task...', autofocus)
        button.btn Add task
      ol
        each task in tasks
          li
            p.title(contenteditable=true)= task.title
            p.date= task.createdAt
            button.done(value=task._id) Done
            button.remove(value=task._id) Remove
            div.checkbox
              label
                input.checkbox(type="checkbox",value=task._id) 
                | Check!
        button.removeAll Mark As Done
        a(href='/completed/') 
         button.completed Go to Completed
        a(href='/logout/')
         button.logout LogOut